<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl" ng-init="myCol='lightblue'" w3-test-directive>
  <p>Name : <input type="text" ng-model="name"></p>
  <h1>Hello {{name}}</h1>


  <p>Name: <input type="text" ng-model="name"></p>
  <p ng-bind="name"></p>

  <p>The name is <span ng-bind="firstName"></span></p>
  <p>My first expression: {{ 5 + 5 }}</p>

  First Name: <input type="text" ng-model="firstName"><br>
  Last Name: <input type="text" ng-model="lastName"><br>
  <br>
  Full Name: {{firstName + " " + lastName}}

  <input style="background-color:{{myCol}}" ng-model="myCol">
</div>

  <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.firstName= "Ahsan";
        $scope.lastName= "Sohail";
    });
    app.directive("w3TestDirective", function() {
    return {
        template : "I was made in a directive constructor!"
    };
});
    </script>
</body>
</html>